<div class="purchase" ng-click="$ctrl.click()">
  <div class="row">
    <div class="col center contract">
      <div class="row">
        <div class="col center">
          <div class="price-container">

            <span class="price-des ng-binding">Net Profit:</span>
            <span class="price ng-binding">
              $3.52
            </span>
          </div>
        </div>
      </div>
      <div class="row basis-container">
        <div class="col center contract-image-container">
          <img src="img/trade-icon/call.svg">
        </div>
        <div class="col left basis-content">
          <div class="basis-title">
            <span class="ng-binding">Stake</span>
          </div>
          <div class="basis">
            <span class="ng-binding">$1.48</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <button class="button ng-binding"
                  style="background:{{$ctrl.config.properties.buttonColor.value}}">
            Buy
            higher
          </button>
        </div>
      </div>
    </div>
    <div class="col center contract">
      <div class="row">
        <div class="col center">
          <div class="price-container">

            <span class="price-des ng-binding">Net Profit:</span>
            <span class="price ng-binding"
                  $1.33
            </span>
          </div>
        </div>
      </div>
      <div class="row basis-container">
        <div class="col center contract-image-container">
          <img src="img/trade-icon/put.svg">
        </div>
        <div class="col left basis-content">
          <div class="basis-title">
            <span class="ng-binding">Stake</span>
          </div>
          <div class="basis">
            <span class="ng-binding">$3.67</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <button class="button ng-binding"
                  style="background:{{$ctrl.config.properties.buttonColor.value}}">
            Buy
            lower
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
